#
# Grub Loader Script for Emergency Boot Kit
# Copyright (c) 2007-2020 Mikhail Kupchik
#

insmod efi_gop
insmod gfxterm
terminal_output gfxterm
set debug=#all
set default="0"
set timeout="10"
set timeout_style="<Payload>"

menuentry "Emergency Boot Kit " {
  linux /boot/loader.efi split=kernel:17510664,tmpfs.ko:59696,ramdisk:10485760,lic_key.txt:4096,loader.rc:2097
  initrd /boot/64-bit/kernel /boot/64-bit/tmpfs.ko /boot/64-bit/ramdisk /boot/lic_key.txt /boot/loader.rc
}

#Addierte ausgabe zum testen
#Für Screenshot warte 6 Sekunden
menuentry "Hello World" {
    # Wartet 5 Sekunden, gibt Text aus, wartet erneut
    sleep 5
    echo "----------Hallo Welt!----------"
    sleep 5
}
menuentry "Zeige Variablen" {
    # Zeigt wichtige GRUB-Umgebungsvariablen, auch wenn sie leer sind
    echo "-----------------------ZeigenAnfange------------------------"
    if [ -n "$cmdpath" ]; then
        echo "cmdpath: $cmdpath"
    else
        echo "cmdpath: <leer>"
    fi
    if [ -n "$root" ]; then
        echo "root: $root"
    else
        echo "root: <leer>"
    fi
    if [ -n "$prefix" ]; then
        echo "prefix: $prefix"
    else
        echo "prefix: <leer>"
    fi
    echo "-----------------------ZeigenEnde------------------------"
}
menuentry "Datei anzeigen" {
    # Gibt den Inhalt dieser grub.cfg aus (Fehler werden ignoriert)
    echo "-----------------------------------------------"
    if [ -f (hd0,1)/EFI/BOOT/grub.cfg ]; then
        cat (hd0,1)/EFI/BOOT/grub.cfg
    else
        echo "Datei nicht gefunden!"
    fi
    echo "-----------------------------------------------"
    sleep 5
}
menuentry "Manipuliere Umgebung" {
    # Setzt und zeigt eine eigene Variable
    echo "-----------------------------------------------"
    set testvar='Geheimer Wert'
    echo $testvar
    echo "-----------------------------------------------"
    sleep 5
}